a {
    text-decoration: none;
}

.container {
    max-width: 640px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.messages-list {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
}

.sender {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.timestamp {
    margin-top: 0.5rem;
}

.read-btn {
    /* font-weight: 500; */
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: rgb(163 163 163);
    margin-top: 0.5rem;
    background-color: rgb(38 38 38);
}

.read-btn:hover {
    background-color: rgb(64 64 64);
    cursor: pointer;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2.5rem;
}

.pagination a {
    font-weight: 300;
    color: rgb(163 163 163);
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid rgb(38 38 38);
    margin: 0 0.3rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.pagination a.active {
    /* background-color: rgb(38, 38, 38); */
    color: rgb(200, 200, 200);
}

.pagination a:hover:not(.active) {
    background-color: rgb(64 64 64);
}

.pagination a.disabled {
    background-color: rgb(30, 30, 30);
    color: rgb(100, 100, 100);
    border: 1px solid rgb(45, 45, 45);
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

@media screen and (max-width: 1024px) {
    .logout-btn {
        color: rgb(244 63 94);
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .messages-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    main {
        min-width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .messages-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    main {
        min-width: 960px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
