@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: text;
}

html {
    height: 100%;
    background-color: rgb(23, 23, 23);
    font-family: "Inter", system-ui, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-width: 320px;
    margin-top: 3.5rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.text-secondary {
    color: rgb(163 163 163);
}

.text-center {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

header {
    top: 0;
    position: sticky;
    border-bottom: 1px solid rgb(38 38 38);
    background-color: rgb(23, 23, 23);
}

.header-wrapper {
    padding: 0.5rem 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
}

.nav-links li a {
    color: rgb(255 255 255);
    transition-delay: 5ms;
    transition: ease-in-out;
}

.nav-links li a:hover {
    color: #ff6b00;
}

.nav-links li {
    list-style-type: none;
}

.logout-btn {
    transition-duration: 0.2s;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #88133733;
    color: rgb(255 255 255);
}

.logout-btn:hover {
    color: rgb(244 63 94);
    cursor: pointer;
}

footer {
    background-color: rgb(38 38 38);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 3.5rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.75rem;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.footer-name {
    font-weight: 700;
}

.footer-content {
    display: inline-flex;
    justify-content: end;
    align-items: end;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.footer-link:hover {
    background-color: rgb(64 64 64);
}

.footer-label {
    color: rgb(255 255 255);
    font-weight: 500;
}
