@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: text;
}

html {
    background-color: rgb(23, 23, 23);
    font-family: "Inter", system-ui, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.text-secondary {
    color: rgb(163 163 163);
}

.text-center {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}
